

##OF builds
#builds
build/
obj/
*.o
*.app
*/x64/

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## OSX
.DS_Store

example-allAlgorithms/.vs/example-allAlgorithms/FileContentIndex/3226a1f4-6927-4231-b2e7-5b852e13c10d.vsidx
example-allAlgorithms/.vs/example-allAlgorithms/FileContentIndex/edbefab9-8997-4ce5-b633-4b9220ef0826.vsidx
example-allAlgorithms/.vs/example-allAlgorithms/FileContentIndex/eeb59aa8-480a-49a3-a87f-917667077f18.vsidx
example-allAlgorithms/.vs/example-allAlgorithms/v17/.suo
example-allAlgorithms/.vs/example-allAlgorithms/v17/Browse.VC.db
example-allAlgorithms/.vs/example-allAlgorithms/v17/DocumentLayout.json
example-allAlgorithms/.vs/example-allAlgorithms/v17/fileList.bin
example-allAlgorithms/.vs/example-allAlgorithms/v17/HierarchyCache.v1.txt
example-allAlgorithms/.vs/example-allAlgorithms/v17/ipch/AutoPCH/4819f668285fe827/OFXAUDIOANALYZERALGORITHMS.ipch
example-allAlgorithms/.vs/example-allAlgorithms/v17/ipch/AutoPCH/50cc2d7b9a427ed3/OFAPP.ipch
example-allAlgorithms/.vs/example-allAlgorithms/v17/ipch/AutoPCH/a1c76a1fc13cc12c/OFXAUDIOANALYZER.ipch
example-allAlgorithms/.vs/example-allAlgorithms/v17/ipch/AutoPCH/eb683f8616171a23/OF3DPRIMITIVES.ipch
example-allAlgorithms/.vs/example-allAlgorithms/v17/Solution.VC.db
example-rmsInput/.vs/example-rmsInput/FileContentIndex/db1c18b5-baf6-4b58-9ce8-8ec8c5ebc330.vsidx
example-rmsInput/.vs/example-rmsInput/v17/.suo
example-rmsInput/.vs/example-rmsInput/v17/Browse.VC.db
example-rmsInput/.vs/example-rmsInput/v17/DocumentLayout.json
example-rmsInput/.vs/example-rmsInput/v17/fileList.bin
example-rmsInput/.vs/example-rmsInput/v17/ipch/AutoPCH/f7e0974a8c0392c2/OFXAUDIOANALYZER.ipch
example-rmsInput/.vs/example-rmsInput/v17/Solution.VC.db
libs/essentia/lib/vs/x64/Debug/essentia.lib
libs/essentia/lib/vs/x64/Release/essentia.lib
example-allAlgorithms/icon.rc
example-allAlgorithms/example-allAlgorithms.vcxproj.user
example-allAlgorithms/example-allAlgorithms.vcxproj.filters
example-allAlgorithms/example-allAlgorithms.vcxproj
example-allAlgorithms/example-allAlgorithms.sln
example-allAlgorithms/dll/x64/FreeImage.dll
example-allAlgorithms/dll/x64/fmodL.dll
example-allAlgorithms/dll/x64/fmod.dll
example-allAlgorithms/bin/sndfile.dll
example-allAlgorithms/bin/libfftw3l-3.dll
example-allAlgorithms/bin/libfftw3f-3.dll
example-allAlgorithms/bin/libfftw3-3.dll
example-rmsInput/bin/example-rmsInput_debug.exp
example-rmsInput/bin/example-rmsInput_debug.lib
example-rmsInput/bin/example-rmsInput_debug.pdb
example-rmsInput/bin/libfftw3-3.dll
example-rmsInput/bin/libfftw3f-3.dll
example-rmsInput/bin/libfftw3l-3.dll
example-rmsInput/bin/sndfile.dll
example-rmsInput/dll/x64/fmod.dll
example-rmsInput/dll/x64/fmodL.dll
example-rmsInput/dll/x64/FreeImage.dll
example-rmsInput/example-rmsInput.sln
example-rmsInput/example-rmsInput.vcxproj
example-rmsInput/example-rmsInput.vcxproj.filters
example-rmsInput/example-rmsInput.vcxproj.user
example-rmsInput/icon.rc
example-Onsets/.vs/example-Onsets/FileContentIndex/edef9141-bc2e-448c-8492-cfc82e0eeafd.vsidx
example-Onsets/.vs/example-Onsets/v17/.suo
example-Onsets/.vs/example-Onsets/v17/DocumentLayout.json
example-Onsets/.vs/example-Onsets/v17/Browse.VC.db
example-Onsets/.vs/example-Onsets/v17/fileList.bin
example-Onsets/.vs/example-Onsets/v17/ipch/AutoPCH/56fb38418b38316e/OFAPP.ipch
example-Onsets/.vs/example-Onsets/v17/ipch/AutoPCH/6c60bb74aebcabcd/MAIN.ipch
example-Onsets/.vs/example-Onsets/v17/Solution.VC.db
example-Onsets/bin/libfftw3-3.dll
example-Onsets/bin/libfftw3f-3.dll
example-Onsets/bin/libfftw3l-3.dll
example-Onsets/bin/sndfile.dll
example-Onsets/icon.rc
example-rmsInput/.vs/example-rmsInput/FileContentIndex/fed7c3ed-658e-4912-b71c-fff4954759ab.vsidx
example-rmsInput/.vs/example-rmsInput/v17/Browse.VC.db-shm
example-rmsInput/.vs/example-rmsInput/v17/Browse.VC.db-wal
example-rmsInput/.vs/example-rmsInput/v17/Browse.VC.opendb
example-rmsInput/.vs/example-rmsInput/v17/ipch/AutoPCH/6d88dd13d5f542cf/MAIN.ipch
example-rmsInput/.vs/example-rmsInput/v17/ipch/AutoPCH/75f375678e484418/OFAPP.ipch
example-rmsInput/.vs/example-rmsInput/v17/Solution.VC.db-shm
example-rmsInput/.vs/example-rmsInput/v17/Solution.VC.db-wal
example-Onsets/dll/x64/fmod.dll
example-Onsets/dll/x64/fmodL.dll
example-Onsets/dll/x64/FreeImage.dll
example-Onsets/example-Onsets.sln
example-Onsets/example-Onsets.vcxproj
example-Onsets/example-Onsets.vcxproj.filters
example-Onsets/example-Onsets.vcxproj.user
